/*css selector:

tagname { egenskap: värdet; }

    .classname { egenskap: värdet: }

    #idnamn {   tagname {egenskap: värde; }
    

    När det är css konfluct:
    p { color: black;}
    
    .p-class{ color: green;}
    #p-id{color: hotpink;}
    
    
    nav background
    nav ska ha en height
    punkterna ska borta
    de ska visas i samma rad


 om boxmodell:

block element: margin, padding, higth

inline element: 
hight och width gäller inte för inline element.

inline-block elemnet: 
då element är inline eller har radbrytning och  height och width kan implementeras där. 

Läraren frågade, inte jag: Img? varför fungerar height och width?



display: block


inget relevant nu (UNDER) */

/*/ /// /*detta funkgerar inte heller att ändra på home, about, contact eller blogg. trots att jag försöker med statc aboslut och fixed 
kolla den där linken där Rakib visa koden, men om inte det funkgar, fråga rakib för detta är jättejobbigt. 
*/ 
nav{
        background: gray;
    height: 40px;
}

ul{position: relative;

}



.nav-li {position: relative;
 right: 0;
}
.li-about {
    left: 80%;
}

.li-contact{
    left: 85%;
}

.li-blogg{
    position: relative;
 left: 35%;

}
.li-home{ position: absolute;
    left: 0px;
}
main {


}
.flex-card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    }

li {
display: inline;
margin: 30px;
}
